body{
	background-color: #2D2C2C;
	color: antiquewhite;
}
td{
	border:1px #EBD7AD solid;
	vertical-align: top;
	font-family:"alex-brush",allura,arizonia,"herr-von-muellerhoff","euphoria-script","miss-fajardose","monsieur-la-doulaise",tangerine;
	color: beige;
	font-size: 17pt;
}
td:hover{
	background-color: #EBD7AD;
	color: black;
}
footer{background-color: black;}


body{
	background:url("yildizli.jpeg");
	background-size: auto;
		
		
}

.background {   width: 1500px; margin: auto; background-color:#232323;}