@charset "utf-8";

/* SATIN ALMA SAYFALARI CSS*/
body{
	background-color: #2D2C2C;
	color: antiquewhite;

}
p{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 25pt;
	
}
.nav-link{
	margin:1.5rem;
	color:#EBD7AD !important;
}
center{

	font:  2%;;

}
a{

	text-decoration: none;
	
	font-size: 26;	
}